<template>
    <div>
        <header-back/>
        <import-csv/>
    </div>
</template>

<script>
    import HeaderBack from '~/components/header-back';
    import ImportCSV from '~/components/import-csv';

    export default {
        name: "import-page",
        components:{
            'header-back': HeaderBack,
            'import-csv': ImportCSV,
        }
    }
</script>

<style scoped lang="scss">
    .wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
