$border-radius: .25rem !default;
$border-color: #ccc;
$border-color-hover: $default-color;

.controls {
    margin: 1rem 0;
}

.button-group {
    display: flex;

    .button {
        border-radius: 0;
        margin-left: -1px;

        &:first-child {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
            margin-left: 0;
        }

        &:last-child {
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }
}

.button {
    background: transparent;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: .25rem 1.5rem;
    cursor: pointer;
    transition: all .25s linear;

    &:hover {
        border: 1px solid $border-color-hover;
        z-index: 1;
    }

    &.is-disabled {
        color: lighten($text-color, 50%);

        &:hover {
            border: 1px solid lighten($border-color-hover, 50%);
        }
    }
}
