* {
    font-family: $font-family;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    font-weight: 200;
    color: $text-color;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
