$border-color: #ccc !default;
$border-color-hover: $default-color !default;
$shadow: 0 0 .5rem 0 lighten($border-color-hover, 40%) !default;


.field {
    position: relative;

    .button-group {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: .25rem;

        .button {
            padding: .25rem .5rem;;
        }
    }
}

.input-control {
    width: 100%;
    padding: .5rem .75rem;
    border-radius: 0;
    border: 1px solid $border-color;
    transition: all .25s linear;
    background: transparent;

    &:hover {
        border-color: $border-color-hover;
    }

    &:focus {
        border-color: $border-color-hover;
        box-shadow: $shadow;
    }
}
