.table {
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__row {
        display: flex;
        margin: .5rem;
        width: 100%;

        &--item {
            margin-left: .25rem;
            margin-right: .25rem;
            width: 100%;

            &:last-child {
                max-width: 35%;
            }
        }
    }

    &__pagination {
        margin-top: 1rem;
        align-self: flex-end;

        .el-pager li, .btn-prev, .btn-next {
            transition: all .25s linear;
            font-weight: 200;
        }


    }
}

