<template>
    <div class="table__row">
        <div class="table__row--item field">
            <input type="text" class="input-control" v-model="text" @change="handleUpdate">
        </div>
         <div class="table__row--item field">
            <input type="text" class="input-control" v-model="topic" @change="handleUpdate" :disabled="isPredicted">
            <template v-if="isPredicted">
                <div class="button-group">
                    <button class="button" @click="handleAccept">Принять</button>
                    <button class="button" @click="handleDeclined">Отклонить</button>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        name: "classifiers-item",
        data() {
            return {
                text:   this.item.text,
                topic:  this.getTopic,
            }
        },
        props: {
            item: {
                required: true,
                type: Object,
            },
            source: { default: null }
        },
        mounted() {
            this.topic = this.getTopic;
        },
        watch: {
            /**
             * за пропсом source нужно следить, чтобы перерисовать компонент, после выполнения "пересчета"
             * @param newSource
             * @param oldSource
             */
            source(newSource, oldSource) {
                this.topic = this.getTopic;
            }
        },
        methods: {
            /**
             * обновим данные в store конкретной записи при изменнеии поля text или topic
             */
            handleUpdate() {
                this.$store.dispatch('textUpdate', {
                    id: this.item.id,
                    text: this.text,
                    topic: this.topic
                });
            },

            /**
             * Если пользователь принимает предложенный системой topic, то сохраняем его на бэке
             *  и обновлем данные в store
             * @returns {Promise<void>}
             */
            async handleAccept() {
                console.log(this.item.conjointTopic);
                 const { data } = await this.$axios.post('/api/classifiers/update/' + this.item.id, {
                     text: this.text,
                     topic: this.item.conjointTopic
                 });
                 this.$store.dispatch('textUpdate', data.data);
                 this.$message({
                     showClose: true,
                     message: 'данные успешно обновлены',
                     type: 'success'
                 });
            },

            /**
             * Если пользоатель окланяет предложенный topic, то очщищаем его и очищаем поле source
             */
            handleDeclined() {
                this.$store.dispatch('textUpdate', {
                    id: this.item.id,
                    topic: this.item.topic,
                    source: null,
                });
            }
        },
        computed: {
            /**
             * поле source === 'predicted' инпут не доступен для редактирования
             * @returns {boolean}
             */
            isPredicted() {
                return this.source === 'predicted';
            },
            getTopic() {
                return this.isPredicted ? this.item.conjointTopic : this.item.topic;
            }
        }
    }
</script>

<style scoped>

</style>
