<template>
        <div class="table">
            <template v-for="classifier in page" >
                <classifiers-item :key="classifier.id" :item="classifier" :source="classifier.source"/>
            </template>
            <div class="table__pagination">
                <el-pagination
                    layout="prev, pager, next"
                    :total="classifiers.length"
                    :page-size="perPage"
                    :current-page="currentPage"
                    @current-change="handlePageChange"
                    hide-on-single-page
                />
            </div>
        </div>
</template>

<script>
    import { mapState } from 'vuex';
    import ClassifierItem from './classifiers-item';

    export default {
        name: "classifiers-table",
        components:{
            'classifiers-item': ClassifierItem,
        },
        data() {
            return {
                currentPage: 1,
                perPage: 10,
            }
        },
        methods: {
            /**
             * Обработка смены станицы
             * @param newPage
             */
            handlePageChange(newPage) {
                this.currentPage = newPage;
            }
        },
        computed:{
            ...mapState(['classifiers']),
            page() {
                const start = (this.currentPage - 1) * this.perPage;
                const end = start + this.perPage > this.classifiers.length
                        ? this.classifiers.length
                        : start + this.perPage;
                return this.classifiers.slice(start, end);
            }
        },
    }
</script>

<style scoped>

</style>
