<template>
    <div class="header">
        <div class="button-group">
            <nuxt-link class="button" to="/">Назад</nuxt-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "header-back",
    }
</script>

<style scoped>

</style>
