<template>
    <div class="header">
        <div class="button-group">
            <nuxt-link class="button" to="/import">Импортировать</nuxt-link>
            <button class="button" v-bind:class="{'is-disabled' : isChecking}" :disabled="isChecking" @click="handleExport">Экспортировать</button>
            <button class="button" v-bind:class="{'is-disabled' : isExporting}" :disabled="isExporting" @click="checkClassifiers">Пересчитать</button>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: "header-bar",
        data() {
            return {
                isChecking: false,
                isExporting: false
            }
        },
        methods: {

            /**
             * Обработка пересчетеа: отправили данные на бэк, получили в ответ обработанные и обновили данные в store
             * по окончанию выводим мессадж
             * пока выполняется запретим экспорт
             *
             * @returns {Promise<void>}
             */
            async checkClassifiers() {
                this.isChecking = true;
                const { data } = await this.$axios.post(process.env.API_URL + '/api/classifiers/update', {
                    classifiers: this.classifiers
                });
                this.$store.dispatch('updateClassifiersList', data.data);
                this.isChecking = false;
                this.$message({
                    showClose: true,
                    message: 'пересчет завершен',
                    type: 'success'
                });
            },

            /**
             * получим файл экспорта с бэка в blob и предложим его сохранить
             *
             * @returns {Promise<void>}
             */
            async handleExport() {
                this.isExporting = true;
                const { data } = await this.$axios.get(process.env.API_URL + '/api/classifiers/export');

                const fileURL = window.URL.createObjectURL(new Blob([data]));
                let fileLink = document.createElement('a');

                fileLink.href = fileURL;
                fileLink.setAttribute('download', 'export.csv');
                document.body.appendChild(fileLink);

                fileLink.click();
                this.isExporting = false;
            }
        },
        computed: {
            ...mapState(['classifiers']),
        }
    }
</script>

<style scoped>

</style>
