<template>
    <div class="wrapper">
        <el-upload
            drag
            accept=".csv"
            :action="importUrl"
            :auto-upload="false"
            :on-change="handleChange"
            :on-remove="handleChange"
            :on-success="handleSuccess"
            :file-list="fileList"
            ref="upload"
        >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Перетащите или <em>выберите</em> файл для загрузки</div>
        </el-upload>
        <div class="controls">
            <button class="button" v-if="fileList.length > 0" @click="handleSubmit">Подтверить загрузку</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "import-csv",
        data() {
            return {
                fileList: [],
            }
        },
        methods: {
            /**
             * отслеживаем, что был выбран новый файл
             * @param file
             * @param fileList
             */
            handleChange(file, fileList) {
                this.fileList = [ file ];
            },

            /**
             * загзуить файл
             */
            handleSubmit() {
                this.$refs.upload.submit();
            },

            /**
             * когда файл успешно загрузится, обновим данные и покажем сообщение
             * @returns {Promise<void>}
             */
            async handleSuccess() {
                const { data } = await this.$axios.get(process.env.API_URL + '/api/classifiers');
                this.$store.dispatch('updateClassifiersList', data.data);
                this.$message({
                    showClose: true,
                    message: 'импорт успешно завершен',
                    type: 'success'
                });
            }
        },
        computed: {
            importUrl() {
                return process.env.API_URL + '/api/classifiers/import';
            },
        }
    }
</script>

<style scoped>

</style>
