<template>
    <div>
        <header-bar/>
        <classifiers/>
    </div>
</template>

<script>
import Header from '~/components/header';
import Classifiers from '~/components/classifiers';

export default {
  components: {
      'header-bar': Header,
      'classifiers': Classifiers,
  }
}
</script>

<style>
</style>

